
<app-nav-bar></app-nav-bar>
<h1 class="Welcome">Welcome {{ name }}</h1>








    <div class="img">

          <div class="row">
            <div class="col">
              <h1>Music is Food for the Soul</h1><br>
              <p class="p">
                Get an experience with us to play the rare<br>
                 musical instrument saved by generation<br>
                  after generation for 150 years and maintain<br>
                   its distinctive and beautiful voice
              </p> <br>
              <button [routerLink]="['/MusicToosList']" class="ToDisplay">Display Rare Machine</button>
            </div>

            


            
          
            
              <!-- <div class="card card1">
                <h5>Oud</h5>
              </div> -->
              <!-- <div class="card card2">
                <h5 class="stylemusic">Music Tools</h5>
              </div> -->
              <!-- <div class="card card3">
                <h5>Piano</h5>
              </div> -->
             

            <!-- </div>
            
           
          </div>
      
    </div>


    <!-- <div class="button"> <a href="/Rgister" style="color: white;">Register now</a></div>





 <nav>

   

    <ul><li><a routerLink="/musical">Musical</a></li></ul>

    
   
            
        
     
</nav> --> 

 




<!-- <a [routerLink]="['/MusicToosList']">Music tooll</a> -->