<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-nav-bar></app-nav-bar>
<div class="img">

    <div class="Bodynotfound">
<br>
        <i class="fa fa-linkedin-square" style="font-size:60px"><a class="click" href="https://www.linkedin.com/in/musab-omair-34232b27a/" >Click here</a></i><br><br>
<br>

<i class="fa fa-github" style="font-size:60px" id="gut" > <a class="click" href="https://github.com/MUSABOMAIR293">Click here</a></i>
       

  </div>
      </div>